       <div class="mystorecard">
        <img src="{{image}}" alt="Product Image" />
        <p class="mystoreprice">{{price}}</p>
        <p>{{product_name}} <br> Description: {{description}}</p>
        <p>{{username}}</p>
        </div>