<div class="wrapper">
  <div class="table basic">

    <div class="head_tab"><h3>{{product_name}}</h3></div>
    <div><p>Seller: {{seller}}</p></div>

    <div class="img-section">
      <img
        src="{{image}}"
        type="file"
        accept="image/*"
        alt="image of Item"
        height="250px"
        width="250px"
      />
    </div>

    <div class="description-price">
      <p>DESCRIPTION:{{description}}</p>
      <p>PRICE: ${{price}} </p>
    </div>
    <div class="btn"><button>Add to Cart</button></div>

  </div>

</div>