<section id="mystorebody">

    <section>
      <div class="mystorecard">
        <h3>Photo</h3>
        <h3>Price</h3>
        <h3>Description</h3>
        <h3>Store Owner</h3>
      </div>
      <div class="mystorecard">
        <img src="{{image}}" alt="Product Image" />
        <p class="mystoreprice">{{price}}</p>
        <p>{{product_name}} <br> Description: {{description}}</p>
        <p>{{username}}</p>
        {{!-- <button>Edit</button> --}}
      </div>

    </section>
    <div class="pagenext">
      <button>
        &#x23ee;
      </button>
      <p>Back Next</p>
    <button>
      &#x23ed;
    </button>
   
    </div>
    

    <script src="./server.js"></script>
  </section>